/* Give the body a nice background color */

body {
    background-color:#161925;
    color:white;
}

/* Create a class and an id for centering text */

.center {
    text-align:center;
}

#textcenter {
    text-align:center;
}

/* Create a class to center content */

#contentcenter {
    align-self:center;
}

article > div{
    background-color: grey;
    width:350px;
    margin:10px;
    align-content:center;
}

article {
    align-content:center;
}

article > div > h2 {
    text-align:center;
}

/* Change line height for Paragraphs, h4 and h6 so they are not
spread so far apart */

/* div > p {
    line-height:0.1em;
} */

div > h4 {
    line-height:1em;
}

div > h6{
    font-size:7px;
    /* line-height:0.1em; */
}

/* Create a white border */

.flex-containerhead {
    border:solid 1px white;
}

/* Direction Example */

/* Flex Item Examples */

/* Test W3 Things */

.flex-container {
    display:flex;
    background-color:#262935;
    width:700px;
    border:1px solid white;
}

.flex-containerhead {
    display:flex;
    background-color:#262935;
    width:1000px;
}

.flex-containerend {
    display:flex;
    background-color:#262935;
    width:1000px;
    border:1px solid white;
    align-content:flex-end;
}

.flex-containerar {
    display:flex;
    align-content:space-around;
    background-color:#262935;
    width:800px;
    border:1px solid white;
}

.flex-containerbt {
    display:flex;
    background-color:#262935;
    width:700px;
    border:1px solid white;
    justify-content:space-between;
}

.flex-containercol {
    display:flex;
    flex-direction:column;
    background-color: #262935;
    width:700px;
    border:1px solid white;
}

.flex-containerself {
    display:flex;
    background-color:#262935;
    width:700px;
    border:1px solid white;
}

.flex-containerorder {
    display:flex;
    background-color:#262935;
    width:700px;
    border:1px solid white;
}

.flex-containeralc {
    display:flex;
    align-items:center;
    background-color:#262935;
    width:700px;
    height:200px;
    border:1px solid white;
}

.flex-containerend1 {
    display:flex;
    align-items:flex-end;
    background-color:#262935;
    width:800px;
    border:1px solid white;
}

.flex-containercol > div {
    background-color:#363955;
    width:100px;
    margin:10px;
    text-align:center;
    padding:20px;
    font-size:30px;
    border:1px solid #161925;
}

.flex-containerar > div > h2 {
    font-size:25px;
}

/* .flex-containerstart {
    display:flex;
    background-color:#262935;
    justify-content:flex-start;
    width:1000px;
    border:1px solid white;
}

.flex-containerstart > div {
    background-color:#363955;
    width:100px;
    margin:10px;
    text-align:center;
    padding:20px;
    font-size:30px;
    border:1px solid #161925;
} */

.flex-container > div {
    background-color:#363955;
    margin:10px;
    padding:20px;
    font-size:30px;
    border:1px solid #161925;
}

.flex-containerend > div {
    background-color:#363955;
    margin:10px;
    padding:20px;
    font-size:30px;
    text-align:center;
    width:100px;
    border:1px solid #161925;
}

.flex-containerar > div {
    background-color:#363955;
    width:100px;
    margin:10px;
    padding:20px;
    font-size:25px;
    text-align:center;
    border:1px solid #161925;
}

.flex-containerbt > div {
    background-color:#363955;
    width:100px;
    margin:10px;
    padding:20px;
    font-size:30px;
    text-align:center;
    border:1px solid #161925;
}

.flex-containerbt > div > h2 {
    font-size:25px;
}

.flex-containerself > div {
    background-color:#363955;
    width:100px;
    margin:10px;
    padding:20px;
    font-size:30px;
    text-align:center;
    border:1px solid #161925;
}

.flex-containerself > div > h2 {
    font-size:25px;
}

.flex-containerorder > div {
    background-color:#363955;
    width:100px;
    margin:10px;
    padding:20px;
    font-size:30px;
    text-align:center;
    border:1px solid #161925;
}

.flex-containerorder > div > h2 {
    font-size:25px;
}

.flex-containeralc > div {
    background-color:#363955;
    width:100px;
    margin:10px;
    font-size:20px;
    text-align:center;
    border:1px solid #161925;
}

.flex-containerend1 > div {
    background-color:#363955;
    width:100px;
    margin:10px;
    font-size:30px;
    text-align:center;
    border:1px solid #161925
}

.flex-containerhead > div {
    background-color:#363955;
    margin:10px;
    padding:20px;
    font-size:30px;
    overflow:visible;
    border:1px solid #161925;
}



/* W3 Works So I'm Going To Use It */